.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.1875rem
}

.hero img {
    margin-top: 9.375rem; 
    width: 18.75rem; 
    height: auto;  
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 5.625rem;;
    font-weight: 600;
}

.hero h1 span {
    background: linear-gradient(267deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 40;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 1.5625rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 3.125rem;
}

.hero-connect {
    padding: 1.5625rem 2.8125rem; 
  border-radius: 3.125rem;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    cursor: pointer;
}

.hero-resume a {
    text-decoration: none;  
    color: white;  
    font-weight: 500;  
}

.hero-resume {
    padding: 1.5625rem 4.6875rem;
    border-radius: 3.125rem;
    border: 0.125rem solid #FFF;
    cursor: pointer;
    background: linear-gradient(264deg, #9f40d6 -5.09%, #0fce85 106.28%);
}


.hero-connect:hover {
    border: 0.125rem solid white;
}

.hero-resume:hover {
    border-color: #B415FF;
}

.hero-resume a:hover {
    color: #B415FF;  /* Optional: Change text color on hover */
}

@media (max-width: 768px) {
    .hero {
        gap: 1.5625rem; /* Reduce the gap between elements */
    }

    .hero img {
        margin-top: 7.5rem; 
        width: 16.25rem;
    }

    .hero h1 {
        width: 90%;
        margin-top: 1.875rem;;
        font-size: 3.125rem;
    }

    .hero p {
        width: 80%;
        font-size: 1.125rem; 
        line-height: 2rem; 
        margin: 0.625rem 0;
    }

    .hero-action {
        gap: 1rem;
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 3.125rem;
        flex-direction: column;
        align-items: center;
    }

    .hero-connect {
        padding: 1.25rem 1.875rem;
        border-radius: 2.5rem;
    }

    .hero-resume {
        padding: 1.25rem 3.125rem;;
        border-radius: 2.5rem;
    }

    .hero-action {
        flex-direction: column;
        align-items: center;
    }
}