.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  margin: 5rem 10.625rem;
}

.mywork-title {
    position: relative;
}

.mywork-title h1 {
    padding: 0px 1.875rem;
    font-size: 5rem;
    font-weight: 600;
}

.mywork-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
    
.mywork-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
}

.mywork-container img {
    box-sizing: border-box;
    width: 25.625rem; 
    height: 17.5rem;
    transition: 0.3s;
    cursor: pointer;
}

.mywork-container img:hover {
    transform: scale(1.10);
    border: 0.25rem solid #ff00ff;
    border-radius: 0.625rem;
    transition: 0.3s;
}

.mywork-showmore {
    display: flex;
    gap: 0.9375rem;
    border-radius: 50px;
    border: 2px solid white;
    padding: 1.875rem 3.75rem;
    font-size: 1.375rem;
    font-weight: 500;
    margin-bottom: 5rem;
    transition: 0.6s;
    cursor: pointer;
}

.mywork-showmore:hover {
    gap: 30px;
    transition: 0.6s;
}

@media (max-width: 768px) {
    .mywork {
        gap: 1.875rem;
        margin: 3.125rem 4.375rem; 
        align-items: start;
    }

    .mywork-title h1 {
        padding: 0;
        font-size: 3.125rem;
        font-weight: 600;
    }

    .mywork-title img {
        width: 8.125rem;
    }

    .mywork-container {
        grid-template-columns: 1fr 1fr;
        gap: 1.875rem;
    }

    .mywork-container img {
        width: 100%;
        height: auto;
    }

    .mywork-showmore {
        padding: 1.25rem 2.5rem; 
        font-size: 1.125rem; 
        margin: 50px auto;
        cursor: pointer;
    }
}

