.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 5rem 10.625rem;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    padding: 0 1.875rem;
    font-size: 5rem;
    font-weight: 600;
}

.contact-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section {
    display: flex;
    gap: 9.375rem;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.contact-left h1 {
    font-size: 5rem;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    max-width: 34.375rem;
    color: #d8d8d8;
    font-size: 1.25rem;
    line-height: 2.2rem;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    color: #D8D8D8;
    font-size: 1.375rem;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.875rem;
    width: 100%;
    max-width: 45rem;
}

.contact-right label {
    color: #D8D8D8;
    font-size: 1.375rem;
    font-weight: 500;
}

.contact-right input {
    border: none;
    width: 100%;
    height: 4.875rem;
    padding-left: 1.25rem;
    border-radius: 0.25rem;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 1.25rem;
}

.contact-right textarea {
    width: 100%;
    border: none;
    padding: 1.5625rem;
    border-radius: 0.25rem;
    background: #32323c;
    color: #A0A0A0;
    font-family: 'Outfit', sans-serif;
    font-size: 1.25rem;
}

.contact-submit {
    border: none;
    color: white;
    border-radius: 3.125rem;
    background: linear-gradient(270deg, #DF8908 -5.09%, #B415FF 106.28%);
    font-size: 1.375rem;
    padding: 1.25rem 3.75rem;
    margin-bottom: 3.125rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.contact-submit:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.contact-submit:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

/* alert  */
.alert {
    display: none; 
    padding: 0.625rem 1.25rem;
    margin-top: 1.25rem;
    border-radius: 0.3125rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
  }
  
  .alert-success {
    background-color: #28a745;
    color: white;
  }
  
  .alert-error {
    background-color: #dc3545;
    color: white;
  }

  .alert.show {
    display: block;
    opacity: 1;
  }


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@media (max-width: 768px) {
    .contact {
        gap: 3.75rem;
        margin: 3.125rem 2.5rem;
        align-items: center;
    }

    .contact-title h1 {
        padding: 0;
        font-size: 3.75rem;
        font-weight: 600;
    }

    .contact-title img {
        width: 7.5rem;
        margin-right: -0.625rem;
    }

    .contact-section {
        flex-direction: column;
        gap: 3.75rem;
    }

    .contact-left h1 {
        font-size: 3.375rem;
    }

    .contact-left p {
        font-size: 1.125rem;
    }

    .contact-detail {
        gap: 20px;
    }

    .contact-detail img {
        width: 1.125rem;
    }

    .contact-right label {
        font-size: 1.25rem;
    }

    .contact-right input {
        width: 100%;
        font-size: 1.25rem;
    }

    .contact-right textarea {
        width: 95%;
        font-size: 1.25rem;
    }

    .contact-submit {
        font-size: 1.25rem;
        padding: 0.9375rem 2.5rem;
    }
}

/* For Small Mobile  */
@media (max-width: 600px) {
    .contact {
        margin: 1.875rem 1.25rem;
        gap: 2.5rem;
    }

    .contact-title h1 {
        font-size: 2.8125rem;
    }

    .contact-title img {
        width: 6.25rem;
        right: -0.9375rem;
    }

    .contact-left h1 {
        font-size: 2.25rem;
    }

    .contact-left p {
        font-size: 1rem;
        line-height: 1.75rem;
    }

    .contact-details {
        font-size: 1.125rem;
    }

    .contact-detail {
        gap: 0.9375rem;
    }

    .contact-right label {
        font-size: 1.125rem;
    }

    .contact-right input {
        font-size: 1.125rem;
        height: 3.75rem;
    }

    .contact-right textarea {
        padding: 1.25rem;
        font-size: 1.125rem;
        width: 100%;
    }

    .contact-submit {
        font-size: 1.125rem;
        padding: 0.9375rem 2.1875rem;
    }
}