.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem 10.625rem;
}

.logo {
    height: 0.625rem;   
    width: auto;    
  }

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3.75rem;
    font-size: 1.25rem;
}

.nav-connect {
    padding: 1.25rem 2.5rem; 
    border-radius: 3.125rem; 
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 1.375rem;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

@media(max-width: 768px) {
    .navbar {
        margin: 1.25rem 3.125rem;;
    }
    
    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 1.875rem;
        z-index: 2;
    }

    .nav-mob-close {
        display: none;
        position: absolute;
        top: 1.875rem; 
        left: 18.125rem; 
        width: 1.875rem; 
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 1.875rem;
        background-color: #1F0016;
        width: 21.875rem;
        height: 100%;
        z-index: 1;
        transition: right 0.5s;
        right: -21.875rem;
    }

    .nav-menu li {
        font-size: 1.875rem;
        padding-left: 6.25rem;
        flex-direction: row;
        gap: 1.25rem;
    }

    .nav-mob-open {
        cursor: pointer;
    }

    .nav-mob-close {
        cursor: pointer;
        z-index: 3;
    }

    /* Mobile menu open state */
    .nav-menu.open {
        right: 0; /* Slide menu into view */
    }

    .nav-menu li img {
        display: none; /* Remove images for better readability on mobile */
    }
}